{% extends "base.html" %}
{% block content %}
<pre>
                                  /\
    /\_______________________/\  /  \  /\
   /                           \/    \/  \
  /   Hello from the high seas! \   / \  \
 /                                \_/   \_/
/~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~\
|  ~~  ~~  ~~   ~~   ~~~   ~~   ~~   ~~   ~~  ~~  |
|~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~|
|  ~~   ~~   ~~   ~~    ~~    ~~   ~~   ~~   ~~   |
 \~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~./
  \     _____       _____      _____     _____   /
   \   |  _  |     |  _  |   |  _  |   |  _  | /
    \  | | | |     | | | |   | | | |   | | | |/
     \ |_____| ~ ~ |_____| ~ |_____| ~ |_____|/
      \____________________________________________/
</pre>
{% endblock %}
